<script src="/javascripts/jquery.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script src="/javascripts/datatables.min.js" crossorigin="anonymous"></script>
<script src="/javascripts/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="/javascripts/materialize.min.js"></script>
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<script src="/javascripts/admin-scripts.js"></script>

</body>
</html>